In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
df = pd.read_csv('Trial_Anomaly.csv', sep =',', index_col=False)

df.head(10)

,cc_number,date,transaction,long,lat,user_id,zipcode,state,cc_limit
0,8.290000e+15,7/11/2016 0:32,43.78,-80.174132,40.267370,8673379,15342,PA,20000
1,8.290000e+15,8/23/2016 22:23,103.15,-80.194240,40.180114,8673379,15342,PA,20000
2,8.038370e+15,7/13/2016 18:33,112.70,-72.061933,43.219707,87014698,3280,NH,10000
3,8.038370e+15,6/25/2016 22:02,164.54,-72.158181,43.121796,87014698,3280,NH,10000
4,1.354150e+15,8/14/2016 17:07,33.72,-89.026755,40.769015,62241364,61738,IL,12000
5,1.354150e+15,8/17/2016 18:40,10.92,-89.067196,40.748447,62241364,61738,IL,12000
6,9.984440e+15,7/21/2016 20:52,71.11,-71.375268,41.455045,64182476,2840,RI,12000
7,9.984440e+15,7/18/2016 19:32,82.29,-71.303102,41.407318,64182476,2840,RI,12000
8,1.843190e+15,8/6/2016 0:00,90.50,-84.577228,39.102732,67677510,45201,OH,7000
9,1.843190e+15,6/5/2016 21:26,57.60,-84.500399,39.146545,67677510,45201,OH,7000

In [ ]:
df.info()

In [ ]:
# def state_new(lat,long):
#     value = ("{}".format(lat)) + " , " + ("{}".format(long))
#     return value

In [ ]:
#df ['transaction_state'] = str(state_new(df['lat'],df['long']))

In [ ]:
#df['transaction_state'].shape

In [ ]:
#df ['transaction_state'] = float(df['lat']) + "," + float(df['long']))

In [ ]:
#df['transaction_state'].head(10)

In [ ]:
# lats=df['lat'].to_list()
# lons=df['long'].to_list()
# # Creating a zip with latitudes and longitudes
# coords=list(zip(lats,lons))

In [5]:
df['state_coord'] = df.loc[:,'long':'lat'].values.tolist()

In [6]:
df['state_coord'].head(10)

0          [-80.17413233, 40.26737034]
1          [-80.19423959, 40.18011382]
2          [-72.06193329, 43.21970693]
3          [-72.15818091, 43.12179594]
4          [-89.02675548, 40.76901528]
5          [-89.06719591, 40.74844664]
6    [-71.37526770000001, 41.45504546]
7          [-71.30310234, 41.40731836]
8          [-84.57722831, 39.10273218]
9          [-84.50039946, 39.14654479]
Name: state_coord, dtype: object

In [10]:
df.head(10)

,cc_number,date,transaction,long,lat,user_id,zipcode,state,cc_limit,state_coord
0,8.290000e+15,7/11/2016 0:32,43.78,-80.174132,40.267370,8673379,15342,PA,20000,"[-80.17413233, 40.26737034]"
1,8.290000e+15,8/23/2016 22:23,103.15,-80.194240,40.180114,8673379,15342,PA,20000,"[-80.19423959, 40.18011382]"
2,8.038370e+15,7/13/2016 18:33,112.70,-72.061933,43.219707,87014698,3280,NH,10000,"[-72.06193329, 43.21970693]"
3,8.038370e+15,6/25/2016 22:02,164.54,-72.158181,43.121796,87014698,3280,NH,10000,"[-72.15818091, 43.12179594]"
4,1.354150e+15,8/14/2016 17:07,33.72,-89.026755,40.769015,62241364,61738,IL,12000,"[-89.02675548, 40.76901528]"
5,1.354150e+15,8/17/2016 18:40,10.92,-89.067196,40.748447,62241364,61738,IL,12000,"[-89.06719591, 40.74844664]"
6,9.984440e+15,7/21/2016 20:52,71.11,-71.375268,41.455045,64182476,2840,RI,12000,"[-71.37526770000001, 41.45504546]"
7,9.984440e+15,7/18/2016 19:32,82.29,-71.303102,41.407318,64182476,2840,RI,12000,"[-71.30310234, 41.40731836]"
8,1.843190e+15,8/6/2016 0:00,90.50,-84.577228,39.102732,67677510,45201,OH,7000,"[-84.57722831, 39.10273218]"
9,1.843190e+15,6/5/2016 21:26,57.60,-84.500399,39.146545,67677510,45201,OH,7000,"[-84.50039946, 39.14654479]"

In [9]:
type(df['state_coord'])

pandas.core.series.Series

In [16]:
# Source: https://www.w3resource.com/python-exercises/geopy/python-geopy-nominatim_api-exercise-6.php

from geopy.geocoders import Nominatim

geolocator = Nominatim(user_agent="geoapiExercises")
# def state(coord):
#     location = geolocator.reverse(coord, exactly_one=True)
#     address = location.raw['address']
#     #city = address.get('city', '')
#     state = address.get('state', '')
#     #country = address.get('country', '')
#     return state

In [22]:
df.head()

,cc_number,date,transaction,long,lat,user_id,zipcode,state,cc_limit,state_coord,trans_state
0,8.290000e+15,7/11/2016 0:32,43.78,-80.174132,40.267370,8673379,15342,PA,20000,"[-80.17413233, 40.26737034]","0 [-80.17413233, 40.26737034]\n1 ..."
1,8.290000e+15,8/23/2016 22:23,103.15,-80.194240,40.180114,8673379,15342,PA,20000,"[-80.19423959, 40.18011382]","0 [-80.17413233, 40.26737034]\n1 ..."
2,8.038370e+15,7/13/2016 18:33,112.70,-72.061933,43.219707,87014698,3280,NH,10000,"[-72.06193329, 43.21970693]","0 [-80.17413233, 40.26737034]\n1 ..."
3,8.038370e+15,6/25/2016 22:02,164.54,-72.158181,43.121796,87014698,3280,NH,10000,"[-72.15818091, 43.12179594]","0 [-80.17413233, 40.26737034]\n1 ..."
4,1.354150e+15,8/14/2016 17:07,33.72,-89.026755,40.769015,62241364,61738,IL,12000,"[-89.02675548, 40.76901528]","0 [-80.17413233, 40.26737034]\n1 ..."

In [20]:
location = geolocator.reverse(df['state_coord'],exactly_one=True)

ValueError: Must be a coordinate pair or Point

In [2]:
#  Source: https://www.w3resource.com/python-exercises/geopy/python-geopy-nominatim_api-exercise-6.php

from geopy.geocoders import Nominatim

geolocator = Nominatim(user_agent="geoapiExercises")
def state(coord):
    location = geolocator.reverse(coord, exactly_one=True)
    address = location.raw['address']
    #city = address.get('city', '')
    state = address.get('state', '')
    #country = address.get('country', '')
    return state
transaction_state = state('40.848, -4.63154')
print (transaction_state)

Castilla y León

In [ ]:
transaction_state = state('32.781065, -96.797117')
print (transaction_state)

In [8]:
for index, rows in df.iterrows():
    transaction_state = state(df['state_coord'])
    print (transaction_state)

ValueError: Must be a coordinate pair or Point

In [ ]:

for index, rows in df.iterrows():
    latitude =(rows.lat)
    longitude =(rows.long)
    coord = (latitude,longitude)
    print('index= ',index)
    #print('rows= ',rows)
    #state[index] = coord
    print (df['state'])

In [ ]:
location = geolocator.reverse("52.509669, 13.376294")